.boardPage {
	background-color: var(--light-beige);
	color: var(--dark-grey);
	margin: 1rem;
	padding: 1rem 0;
}

.card-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.boardPage-button {
	position: fixed;
	bottom: 1.6rem;
	right: 1.6rem;
	z-index: 10;
}
