.card {
	background-color: var(--dark-grey);
	color: var(--text-beige);
	border-radius: 25px;
	width: 80%;
	padding: 1rem;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	letter-spacing: 0.03rem;

	transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card_line {
	width: 95%;
	height: 1px;
	background: color-mix(in srgb, var(--text-beige), transparent 80%);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	margin: 2px 0;
}

.card_text {
	padding: 1rem;
}

.card_date,
.card_username {
	font-weight: 300;
	padding: 0.2rem 1rem;
}

.card_username {
	font-weight: 500;
	color: var(--red-orange);
	cursor: pointer;
	transition: color 0.2s ease;
}

.card:hover,
.card:active {
	cursor: pointer;
	transform: scale(0.97);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.card_username:hover {
	color: #938f8c;
	text-decoration: underline;
}
