.updateForm {
	width: 80%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.updateForm-input {
	font-family: 'Onest', sans-serif;
	background-color: var(--light-beige);
	border: 1px solid var(--red-orange);
	border-radius: 7px;
	text-align: center;
	padding: 1rem;
	width: 80%;
	height: 100px;
}

.updateForm-username {
	font-family: 'Onest', sans-serif;
	background-color: var(--light-beige);
	border: 1px solid var(--red-orange);
	border-radius: 7px;
	text-align: center;
	padding: 1rem;
	width: 80%;
}

.updateForm-submitbutton {
	width: 80%;
}
